<!-- <div *ngFor="let item of items"> -->
<div class="main-collection">
    <div class="container">
        <div class="nav">
            <div class="log">
                <span class="mat-display-4" style="color: forestgreen">.</span
        ><span class="mat-display-4">KaziKOTa</span>
            </div>
            <div class="list">
                <ul>
                    <li class="active">Home</li>
                    <li>Menu</li>
                    <li class="dis">Daily promotions</li>
                    <li class="dis">About</li>
                    <li class="dis">contact</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <img src="https://firebasestorage.googleapis.com/v0/b/kotatake1.appspot.com/o/kotaTake1%2F1.jpg?alt=media&token=f40c5dcc-1a07-4623-ac90-3d185bcb7f2b" />
        </div>
    </div>
</div>
<router-outlet></router-outlet>
